h3 {
    font-size: 32px;
    margin-bottom: 20px;
}

.message, aside, main {
    float: left;
}

.message {
    width: 50%;
    margin-left: 0;
}

aside {
    width: 23%;
}

main {
    width: 77%;
    height: 80%;
}

table, td {
    border: 6px white dotted;
    border-collapse: collapse;
    font-size: 30px;
    text-align: center;
}

table {
    width: 100%;
    height: 80%;
}

header {
    width: 100%;
}

.tdh {
    width: 25%;
    height: 20%;
}

.trh {
    height: 20%;
}

#tablePrizes {
    width: 100%;
    height: 20%;
}